    /* Scroll bar */
    /* Width */
    ::-webkit-scrollbar {
        width: 12px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        border-radius: 0px;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #7393B3; 
        border-radius: 0px;
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #1434A4; 
    }
    /* Overall body */
    body {
        background-image: linear-gradient(#191970, #FFFFF0);
        color: #1D1737;
        font-family: "Roboto Serif", "sans-serif";
        font-size: 16px;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 30px;
        max-width: 80%;
        display: block;
    }
    /* Top header */
    div.content {
        background-color: #ffffff;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 0px;
        box-shadow: 10px 10px 25px #5560C7;
        width: 800px;
        margin: auto;
        padding: 10px;
    }
    h1.name {
        font-family: "Roboto Serif";
        font-size: 26px;
        font-weight: bold;
        letter-spacing: 3px;
        line-height: 10px;
        padding-right: 40px;
        padding-top: 3%;
        text-align: left;
        text-shadow: 1px 1px #87CEEB;
        text-transform: uppercase;
    }
    h2.contact {
        font-family: "Yanone Kaffeesatz";
        font-size: 18px;
        font-weight: normal;
        line-height: 5px;
        padding-right: 30px;
        opacity: .8;
        text-align: right;
        word-spacing: 5px;
    }
    hr.top {
        background-color: #6082B6; /* Darker blue-purple */
        border: none;
        border-radius: 10px;
        height: 6px;
    }
    hr.bottom {
        background-color: #6082B6;
        border: none;
        height: 2px;
    }
    /* Table, rows, columns, & cells */
    table {
        border-collapse: collapse;
        margin: auto;
        max-width: 90%;
    }
    td {
        border-collapse: collapse;
        font-weight: normal;
        vertical-align: top;
    }
    td.leftpanel {
        background-color: #87CEEB; /* Light blue-purple */
        border-color: #6082B6;
        border-left-style: solid;
        padding-right: 10px;
        text-align: right;
        text-shadow: 1px 1px #6082B6;
        text-transform: uppercase;
    }
    td.rightpanel {
        border-color: #87CEEB;
        border-style: dotted;
        border-left-style: none;
        border-right-style: none;
        border-width: thin;
        padding-left: 20px;
        vertical-align: middle;
    }
    tr {
        border-collapse: collapse;
        font-weight: bold;
        vertical-align: top;
    }
    /* Bullet */
    ul.list {
        list-style-type: "»";
        margin: 0px;
        margin-bottom: -1%;
        margin-top: -2%;
    }
    li {
        line-height: 20px;
        margin-left: -3%;
        padding-left: 1em;
    }
    /* Button */
    button.dnbutton {
        background-color: #87CEEB;
        border: none;
        border-top-left-radius: 12px;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 5px;
        box-shadow: 0 5px #6082B6;
        cursor: pointer;
        padding: 10px;
        margin-top: 40px;
    }
    /* Button animation */
    .dnbutton:hover {
        background-color: #C5C7FF;
    }
    .dnbutton:active {
        background-color: #C5C7FF;
        box-shadow: 0 3px #6082B6;
        transform: translateY(2px);
    }
    /* General font edits */
    span.underline {
        border-bottom: 1px dashed mediumpurple;
        display: inline-block;
        line-height: 1;
    }
    /* Bold tags */
    b {
        color: #000000;
    }